@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
    font-family: "Poppins", "sans-serif";
}
.btn-orange {
    background-color: #ff7f3e;
    color: white;
}
.text-orange {
    color: #ff7f3e;
}
.hero-section .content .image-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}
.header-hero {
    font-weight: 700;
}
.floating-input .form {
    position: absolute;
    background-color: white;
    top: -4em;
    border-radius: 10px;
    padding: 0 0 0 10px;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.3));
}
.icon-container {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ff7f3e;
}
.book-btn {
    border: 0;
    outline: 0;
    background-color: #ff7f3e;
    width: 100%;
    height: 100%;
    color: white;
    padding: 3rem 0;
    border-radius: 5rem 0 0 5rem;
    transition: 0.3s;
}
.book-btn:hover {
    background-color: white;
    color: #ff7f3e;
    outline: 1px solid #ff7f3e;
}
.floating-input .form {
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    .offcanvas-body {
        width: 100%;
    }
    .menu-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .header-hero {
        font-size: 6rem;
    }
}
